@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ProseMirror table td,
.ProseMirror table th {
  min-width: 1em;
  border: 1px solid #d1d5db; /* gray-300 */
  padding: 8px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.ProseMirror table th {
  font-weight: bold;
  text-align: left;
  background-color: #f3f4f6; /* gray-100 */
}

.ProseMirror ul, .ProseMirror ol {
    padding: 0 1rem;
}